<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video-Captioning</title>
</head>
<body>
    <h1 style="color:rgb(43, 92, 241);;">
        Minor Project - Video Captioning
    </h1>
    <br>
    <form method="POST" action="/get/" enctype ="multipart/form-data" style="width: 200px;">
        {% csrf_token %}
        <label>Upload Video</label><br><br>
        <input type="file" name="video" required><br><br>
        <button type="submit">Add</button>
    </form>
    <br>
    <h2 style="display: inline;">
        <b>{{gen}}</b>
    </h2>
    <h3 style="display: inline;">{{caption}}</h3>

</body>
</html>